.simple-tag {
    cursor: pointer;
    display: inline-block;
    margin: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.5;
    padding: 6px 16px;
    color: var(--sh-tag-color);
    background-color: var(--sh-tag-bg-color);
    font-size: 12px;
    box-shadow: 0 2px 0px var(--shadow-color);
    transition: 0.2s;
    user-select: none;
}

.simple-tag.small {
    font-size: 12px;
    padding: 4px 8px;
}

.simple-tag.medium {
    font-size: 14px;
    padding: 6px 12px;
}

.simple-tag.large {
    font-size: 16px;
    padding: 8px 16px;
}

.simple-tag:hover {
    transform: scale(1.05);
}
