.simple-input {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    /* height: 4px; */
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 2px;
    color: var(--text-color);
    border: 2px solid var(--default-color);
    outline: none;
    box-shadow: 2px 2px 0px var(--shadow-color), inset 2px 2px 0px var(--shadow-color);
    background-color: var(--default-bgColor);
    transition: 0.2s;
}
.simple-input:focus,
.simple-input:hover {
    transform: scale(1.05);
}

.simple-input.small {
    font-size: 12px;
    padding: 8px 12px;
}

.simple-input.medium {
    font-size: 14px;
    padding: 10px 14px;
}

.simple-input.large {
    font-size: 16px;
    padding: 12px 16px;
}
