.chat-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.empty-tag {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.empty-img {
    width: 100%;
    height: 100%;
}

.empty-text {
    margin-top: 32px;
    font-size: 18px;
    color: var(--theme-color-text);
}