@import "./normalize.css";
@import "./root.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* 消息提示 */
.sh-message-default {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 9999;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: var(--theme-color-text);
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 0px var(--shadow-color);
    user-select: none;
    z-index: 9999;
}
