.login-page {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 420px;
    text-align: center;
    color: var(--default-color);
    padding: 32px;
}
.login-page .login-title {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: normal;
    user-select: none;
}
.login-page .login-button {
    margin-top: 32px;
    width: 64px;
    height: 64px;
    padding: 12px;
    font-size: 24px;
    border-radius: 50%;
}
