.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-left {
    width: 35%;
    min-width: 320px;
    height: 100%;
    border-right: 1px solid var(--default-color);
    box-shadow: 0 0 2px 2px var(--border-color);
}
.home-left-phone {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
}
.home-right {
    width: 65%;
    height: 100vh;
}
