.list-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    overflow: hidden;
}

.list-header {
    height: 50px;
    padding: 0 16px;
    margin: 0;
    border-bottom: 1px solid var(--default-color);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 2px var(--border-color);
    user-select: none;
}

.list-header img {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    border-radius: 50%;
}

.list-header span {
    padding-left: 14px;
    font-size: 16px;
    color: var(--default-color);
    line-height: 50px;
    vertical-align: middle;
}

.list-header .nickname,
.list-header .ws-status {
    color: var(--theme-color-text);
}

.list-content {
    height: calc(100% - 50px);
    padding: 0 16px;
    margin: 16px 0;
    overflow-y: auto;
    scrollbar-width: none;
}

.list-content .simple-tag {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
}

.list-content .simple-tag:hover,
.list-content .simple-tag.selected {
    color: var(--sh-button-color);
    background-color: var(--sh-button-bg-color);
}

.list-content .simple-tag img {
    width: 42px;
    height: 42px;
    vertical-align: middle;
    margin-right: 12px;
    border-radius: 50%;
    box-shadow: 0 2px 2px var(--border-color);
}

.list-content .simple-tag .id {
    font-size: 12px;
}

.list-content .simple-tag.no-chat {
    display: flex;
    justify-content: center
}